body{
padding: 100px;
font-weight: 500;
background-color: rgb(167, 57, 37);
color: honeydew;
}

.submit-area{
    background-color: white;
    color: rgb(167, 57, 37) ;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#transaction_area{
    display: none;
}

.status{
    margin: 0 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}